@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Lato&display=swap');

$primary-color: #394166;
$secondary-color: #1CB8F1;

$logo-font: 'Boogaloo', cursive;
$main-font: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 3%;
        color: $primary-color;
    }

    .left-nav {
        width: 50%;
        font-family: $logo-font;
        font-size: 5em;
    }

    .right-nav {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: $main-font;
        font-size: 1.2em;
        font-weight: 800;
    }

    .login {
        border: 2px solid $primary-color;
        padding: 1.5% 3%;
        border-radius: 10px;
    }
}

main {
    padding: 3%;

    .top {
        text-align: center;
        font-family: $main-font;
        font-size: 1.8em;
        color: $secondary-color;

        img {
            padding: 3%;
        }

    }

    
}
